@{
    ViewData["Title"] = "Contact Us";
}

<div class="upperMargin container">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <h3 class="mt-4 py-4 fs-1">Contact</h3>
            <p class=""><span style="font-size:16px; font-weight: 700;">Our main kitchen and pickup point</span><br />
            1105 Lafayette St, Gretna, Louisiana 70053</p>
            <p>Get in touch</p>
            <p>504-309-5427</p>
            <p>customerservice@cleancreations.net</p>
            <form>
                <div class="d-flex flex-wrap">

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">First Name</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                      <input type="email" class="form-control border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Phone</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Company Name</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-50 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Website</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-100 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">How did you hear about us?</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>

                    <div class="mb-3 w-100 pe-4">
                      <label for="exampleFormControlInput1" class="form-label">Message</label>
                      <input type="email" class="form-control  border-0 border-bottom" id="exampleFormControlInput1" placeholder="">
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col-lg-4 col-sm-12">
            <img width="100" height="500" src="https://maps.googleapis.com/maps/api/staticmap?center=40.714728,-73.998672&zoom=12&size=400x400&maptype=roadmap&key=YOUR_API_KEY&signature=YOUR_SIGNATURE">
        </div>
    </div>
</div>