

<div class="header container-fluid navbar border fixed-top">
    <div class="header-left">
        <a class="me-4">Current Menu</a>
        <a class="me-4">Grab & Go</a>
    </div>
    <div class="navbar-brand">
        <a href="@Url.Action("Index", "Home")"><img src="~/assets/logo.png" width="60px"/></a>
    </div>
    <div class="header-right">
        <div class="dropdown me-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subscription Meal Selection</a></li>
            <li><a class="dropdown-item" href="#">À la Carte</a></li>
            <li><a class="dropdown-item" href="#">Proteins by the Pound</a></li>
            <li><a class="dropdown-item" href="#">Custom Protien Builder</a></li>
            <li><a class="dropdown-item" href="#">Extras</a></li>
            <li><a class="dropdown-item" href="#">Gift Card</a></li>
          </ul>
        </div>
        <a class="right-link me-4">Blog</a>
        <a class="right-link me-4 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
        </a>
        <a class="right-link me-4">Sign up</a>
        <a class="right-link">Login</a>
    </div>
    <div class="mobRight">
        <a class="me-3 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              99+
              <span class="visually-hidden">unread messages</span>
            </span>
        </a>
        <a class="ms-3 me-3">Login</a>
        <a class="menuButton" id="menuButton">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#ffffff"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
        </a>
    </div>
    
</div>
<div class="menuContents" id="menuContents">
        <div><a class="">Current Menu</a></div>
        <div class="dropdown me-4">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Subscription Meal Selection</a></li>
            <li><a class="dropdown-item" href="#">À la Carte</a></li>
            <li><a class="dropdown-item" href="#">Proteins by the Pound</a></li>
            <li><a class="dropdown-item" href="#">Custom Protien Builder</a></li>
            <li><a class="dropdown-item" href="#">Extras</a></li>
            <li><a class="dropdown-item" href="#">Gift Card</a></li>
          </ul>
        </div>
        <div><a class="">Blog</a></div>
        <div><a class="">Grab & Go</a></div>
</div>