@model EAD_Project.Models.PlanModel

<div class="d-flex flex-column p-5 border planItem align-items-center w-100 m-3 col">
    <p class="fs-4 fw-300">@Model.title</p>
    <p class="fs-5">as low as</p>
    <p class="fs-5">$@Model.price meal</p>
    <a class="btn planChooseButton w-100 fs-4">CHOOSE</a>
</div>